@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce7;
    --color-primary-200: #bbf7d0;
    --color-primary-300: #86efac;
    --color-primary-400: #4ade80;
    --color-primary-500: #10b981;
    --color-primary-600: #059669;
    --color-primary-700: #047857;
    --color-primary-800: #065f46;
    --color-primary-900: #047857;

    --color-secondary-500: #f59e0b;

    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}